<div class="main_content_iner overly_inner">
  <div class="container-fluid bg-white mt-5 p-5" style="border-radius: 25px; ">
    <h2 class="text-center" style="color: black;">Product offer</h2>
    <div class="row mt-2">
      <table class="table table-responsive-xs table-responsive-sm table-striped table-hover mt-3" id="usersTable" style="border: 1px solid rgb(8, 8, 8);
   border-radius: 18px;">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Image</th>
            <th scope="col">Product</th>
            {{!-- <th scope="col">Validity</th> --}}
            <th scope="col">Discount</th>
            <th class="text-end">Action</th>
          </tr>
        </thead>
        <tbody>
          {{#each ProductOffer}}
          <tr>
            <td>{{inc @index}}</td>
            <td><img style="width: 2rem; height: 3rem;" src="/product-images/{{this.ProdId}}.jpg"> </td>
            <td>{{this.productname}}</td>
            {{!-- <td>{{this.validity}}</td> --}}
            <td>{{this.discount}}%</td>
            <td class="text-end">
              <button class="btn btn-danger" onclick="RemoveProductOffer('{{this._id}}','{{this.ProdId}}')"
                onclick="return two(this,event)"><i class="fa fa-trash-O"></i></button>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
<script>
  $(function () { $('#usersTable').dataTable(); });
</script>


<script>
  function RemoveProductOffer(OfferID, ProdID) {
    swal({
      title: "Are you sure?",
      text: "Once removed, you won't be able to retrive it! ",
      icon: "warning",
      buttons: true,
      dangerMode: true,
    })
      .then((willDelete) => {
        if (willDelete) {
          $.ajax({
            url: '/admin/RemoveProductOffer',
            method: 'post',
            data: {
              OfferID: OfferID,
              ProdID: ProdID
            },
            success: (Response) => {
              location.reload()
            }
          })
        } else {
          swal("your data is safe!");
        }
      });
  }
</script>