













 <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/stylesheets/side-style.css">
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>



<div class="mx-5 d-md-flex align-items-stretch">
  <!-- Page Content  -->

  <div id="content" class="ml-lg-4">

    <div class="">

      <div class="container">
        <div class="main-body">
          <div class="row gutters-sm justify-content-end">
              
            <div class="col-md-8">
              {{#if products}}
              <div
                class="row py-3 mr-0  mt-2 mb-3"
                style="background-color: rgb(248, 248, 248);  max-width: 45rem;"
              >
                <div class="col-9">
                  <h5>Cart</h5>

                </div>
              </div>
              {{#each products}}
              <div
                class="row py-3 mr-0  mb-3"
                style="background-color: rgb(248, 248, 248);  max-width: 45rem;"
              >
              <div class="col-12 text-end"> <a onclick="sweetAlertClick('{{this._id}}','{{this.product._id}}',event)" id="crossSign" href=""
            style="text-decoration: none; color: rgb(107, 104, 104); font-size: large;">&#10006;</a></div>
        <div class="col-xl-3">

          <img style="max-width: 150px;" src="/product-images/{{this.product._id}}.jpg" alt="">
        </div>
        <div class="col-xxl-9 " style="word-wrap: break-word;">

          <h6 class=" text-truncate " >{{this.product.Name}}</h6>
          <p class=" text-truncate">{{this.product.Description}}</p>
          <div class="d-flex">
            {{!-- <p class="">{{this.product.category}}</p> --}}
            {{!-- <p class="ms-4">{{this.product.subcategory}}</p> --}}
          </div>
          <p>Rs.{{this.product.Price}} </p>
          <button class="cart-item-count mr-3 btn btn-outline-dark"
            onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user._id}}',-1)">-</button>
          <span id="{{this.product._id}}">{{this.quantity}}</span>
          <button class="cart-item-count ml-3 btn btn-outline-dark"
            onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user._id}}',1)">+</button>
        </div>
        
              </div>
{{/each}}

      {{else}}


      
      <div id="content" class="p-4 p-md-5  pt-5 ml-lg-4">

    <div class=" justify-content-right ">

      {{!-- <img src="/images/cart-empty4.jpg" style="width: 80%; " alt=""> --}}
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<lottie-player src="https://assets10.lottiefiles.com/packages/lf20_dkc8tvbm.json" class="mt-5"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
<a href="/" class="btn btn-outline-dark " style="width: 300px; height: 40px;"></a>
    </div>
    {{!-- <div class="d-flex justify-content-center pt-2">
      <h3 style="color: rgb(100, 183, 255);">Let's findOut your fashion</h3>

    </div> --}}


   
  </div>
              
      {{/if}}

             

            </div>
          </div>

        </div>
      </div>
      

    </div>
  </div>

  <nav id="sidebar" class="   position-relative mr-4 mt-3">
    <div class="p-4 pt-5  sticky-top mt-5">
      <div class="mb-5 sticky-top ">
        <h4>ShoeCart</h4>

        <h3>hi,<span style="text-transform: capitalize; color: rgb(11, 11, 131);" > {{user.Name}}</span></h3>
        {{#if products}}
        <h5>Total price <br>Rs.<span id="total">{{totalAmount}}</span>  <span style="font-size: medium;">only</span> </h5>

        <a href="/place-order" class="btn btn btn-outline-dark w-100">Place Order</a>
        {{else}}


        <h5>Your cart is Empty!</h5>
        {{!-- <a href="/" class="btn btn btn-outline-success w-100">findOut</a> --}}

        {{/if}}
      </div>


    </div>
  </nav>

</div>








<script>
  function sweetAlertClick(id,pId,e){
  
  e.preventDefault()
     swal({
  title: "Are you sure?",
  text: "Once deleted, you will not be able to recover this Watch!",
  icon: "warning",
  buttons: true,
  dangerMode: true,
})
.then((willDelete) => {
  if (willDelete) {
    swal("Poof! Your watch has been deleted!", {
      icon: "success",
    }).then(()=>{
        window.location.href = `/delete-cart-item?id=${id}&proId=${pId}`
    })
    
  } else {
    swal("Your watch is safe!");
  }
});


  }
 
</script>
<script>
    function changeQuantity(cartId,proId,userId,count){
        let quantity=parseInt(document.getElementById(proId).innerHTML)
        count=parseInt(count)
        $.ajax({
            url:'/change-product-quantity',
            data:{
                user:userId,
                cart:cartId,
                product:proId,
                count:count,
                quantity:quantity
            },
            method:'post',
            success:(response)=>{
                 if(response.removeProduct){
                     alert("Product Removed From Cart")
                     location.reload()
                 }else{
                     document.getElementById(proId).innerHTML=quantity+count
                     document.getElementById('total').innerHTML=response.total
                 }
                
            } 

        })
    }
</script>




<script src="/javascripts/side-bootstrap.min.js"></script>
<script src="/javascripts/side-jquery.min.js"></script>
<script src="/javascripts/side-main.js"></script>
<script src="/javascripts/side-popper.js"></scr










































































 {{!-- <section>
    <div class="container-fluid m-auto">
      <div class="row">
        <div class="col-md-8 ">
           <table class="table mt-5">
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">Item</th>
       <th scope="col">Title</th>
       <th>Price</th>
      <th scope="col">Quantity</th>
       
       <th></th>
     </tr>
  </thead>
  <tbody>
     

     {{#each products}} 
     <tr>
      <td scope="row">{{inc @index}}</td>
      
      <td><img style="width:80px; height:auto;"  src="/product-images/{{this.product._id}}.jpg" alt=""></td>
      <td>{{this.product.Name}}</td>
      <td>{{this.product.Price}}</td>
      
        
      <td> 
        <button class=" mr-3 btn btn-outline-dark" style="font-size: 10px;" onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user._id}}',-1)">-</button>
        <span id="{{this.product._id}}">{{this.quantity}}</span>
        <button class="ml-3 btn btn-outline-dark" style="font-size: 10px;" onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user._id}}',1)">+</button>
      </td>
     <td>
        <a href="/cart-delete-product?id={{this.product._id}}" class="btn btn-danger" onclick="return confirm('Are you sure you want to Remove {{this.product.Name}}')">Remove</a>
    </td> 
    </tr>
   {{/each}}
  </tbody>
</table>

        </div>
        

<div class="col-md-4  mt-5 pt-5 sticky-top">
  <div  class="float-end pe-5">
     <h4 class="float-start me-5">Total: RS. <span id="total">{{totalAmount}}</span></h4><br>
      <a href="/place-order" class="float-start btn btn-dark mt-3" style="width:100% ;"><b>Place Order</b> </a>
  </div>
</div>


    </div>

      </div>
       
</section> --}}






{{!-- <style>
  .table{
    border:2px Solid;
  }
</style> --}}







/*<script>
  function changeQuantity(cartId,proId,userId,count){
    let quantity=parseInt(document.getElementById(proId).innerHTML)
    count=parseInt(count)
    
    $.ajax({
      url:'/change-product-quantity',
      data:{
        user:userId,
        cart:cartId,
        product:proId,
        count:count,
        quantity:quantity
      },
      method:'post',
      success:(response)=>{
        if(response.removeProduct){
       
  /*Swal.fire({
  title: 'Are you sure?',
  text: "You won't be able to revert this!",
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Yes, delete it!'
}).then((result) => {
 if (result.isConfirmed) {
    {
     // window.location=value
    location.reload()
      }
    
  }
})*/
 
            alert('product removed from cart')
             location.reload() 
        }else{
          document.getElementById(proId).innerHTML=quantity+count
          document.getElementById('total').innerHTML=response.total
        }
       
      }
    })
  }
</script> */



