<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/stylesheets/side-style.css">

<div class="mx-5 d-md-flex align-items-stretch">
    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5 pt-5 ml-lg-4">
        <div class="mt-5">
            <div class="mt-3 row py-3 mr-0 ml-auto" style="background-color: rgb(248, 248, 248);  max-width: 45rem;">


 <form class="mb-0" method="post" id="Add_Address_form" action="/edit-profile-address">
<input type="hidden" name="id" id="form9Example1" class="form-control input-custom" value="{{addressDetails._id}}"/>
                    <div class="row mb-4">
                        <div class="col add">
                            <div class="form-outline">
                                <input type="text" name="name" placeholder="Name" id="form_name" value="{{addressDetails.name}}" class="form-control input-custom" />
                                <span class="error_form" style="color: red;" id="name_error_message"></span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <input type="text" name="state" id="form_state" placeholder="State" value="{{addressDetails.state}}" class="form-control input-custom" />
                                <span class="error_form" style="color: red;" id="state_error_message"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <input type="text" name="city" id="form_city" placeholder="City" value="{{addressDetails.city}}" class="form-control input-custom" />
                                <span class="error_form" style="color: red;" id="city_error_message"></span>
                            </div>
                        </div>
                        {{!-- <div class="col">
                            <div class="form-outline">
                                <input type="text" name="zip" id="form_pincode" placeholder="Zip" value="{{addressDetails.zip}}" class="form-control input-custom" />
                                <span class="error_form" style="color: red;" id="pincode_error_message"></span>
                            </div>
                        </div> --}}
                    </div>
                    <div class="row mb-4">
                        
                        <div class="col">
                            <div class="form-outline">
                                <input type="text" name="mobile" id="form_mobno" placeholder="Mobile" value="{{addressDetails.mobile}}" class="form-control input-custom" />
<span class="error_form" style="color: red;" id="mob_error_message"></span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <input type="email" name="email" id="form_email" placeholder="Email" value="{{addressDetails.email}}" class="form-control input-custom" />
                               <span class="error_form" style="color: red;" id="email_error_message"></span>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row mb-4">
                        
                        <div class="col">
                            <div class="form-outline">
                                <textarea   id="form_address" name="address" placeholder="Address" rows="4" class=" w-100 form-control py-1">{{addressDetails.address}}</textarea>
                                    <span class="error_form" style="color: red;" id="address_error_message"></span>
                            </div>
                        </div>

                    </div>

                    <div class="float-end ">
                        <!-- Submit button -->
                        <button type="submit" class="btn btn-outline-dark btn-rounded">Update</button>
                    </div>

                </form>
            </div>
            

        </div>
    </div>






    <nav id="sidebar" class="d-none d-lg-block position-relative  mr-4 mt-3">
        <div class="p-4 pt-5 sticky-top mt-5">
            <div class="mb-5 sticky-top ">
                <h4>ShoeCart</h4>

                <h3>Hi,<span style="text-transform: capitalize; color: rgb(11, 11, 131);"> {{user.Name}}</span></h3>
                <h5>please Enter your details </h5>
            </div>
        </div>
    </nav>

</div>
<script type="text/javascript">
    $("#name_error_message").hide()
$("#email_error_message").hide()
    $("#mobno_error_message").hide()
    $("#address_error_message").hide()
    $("#state_error_message").hide()
    $("#city_error_message").hide()
    $("#pincode_error_message").hide()


    var error_name = false;
    var error_email=false;
    var error_mobno = false;
    var error_address = false;
    var error_state = false;
    var error_city = false;
    var error_pincode = false;

    $("#form_name").focusout(function () {

        check_name();
    });
    $("#form_email").focusout(function() {
            check_email();
         });
    $("#form_mobno").focusout(function () {
        check_mob();
    });
    $("#form_address").focusout(function () {
        check_address();
    });
    $("#form_state").focusout(function () {
        check_state();
    });
    $("#form_city").focusout(function () {
        check_city();
    });
    $("#form_pincode").focusout(function () {
        check_pincode();
    });
 function check_email() {
            var pattern = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
            var email = $("#form_email").val();
            if (pattern.test(email) && email !== '') {
               $("#email_error_message").hide();
               $("#form_email")
            } else {
               $("#email_error_message").html("Invalid Email");
               $("#email_error_message").show();
               $("#form_email")
               error_email = true;
            }
         }

    function check_name() {
        var pattern = /^[a-zA-Z" "]*$/;
        var fname = $("#form_name").val();
        if (pattern.test(fname) && fname !== '') {
            $("#name_error_message").hide();
            $("#form_name")
        } else {
            $("#name_error_message").html("Should contain only Characters");
            $("#name_error_message").show();
            $("#form_name")
            error_name = true;
                        

        }
    }

    function check_mob() {
        var pattern = /([0-9]{10})|(\([0-9]{3}\)\s+[0-9]{3}\-[0-9]{4})/;
        var mob = $("#form_mobno").val();
        if (pattern.test(mob) && mob !== '' && mob.length == 10) {
            $("#mob_error_message").hide();
            $("#form_mobno")
        } else {
            $("#mob_error_message").html("Invalid Mobile NO");
            $("#mob_error_message").show();
            $("#form_mobno")
            error_mobno = true;
         
        }
    }



    function check_address() {
        var pattern = /^[a-zA-Z" "]*$/;
        var fname = $("#form_address").val();
        if (pattern.test(fname) && fname !== '') {
            $("#address_error_message").hide();
            $("#form_address")
        } else {
            $("#address_error_message").html("Should contain only Characters");
            $("#address_error_message").show();
            $("#form_address")
           
            error_address = true;
        }
    }
    function check_state() {
        var pattern = /^[a-zA-Z]*$/;
        var fname = $("#form_state").val();
        if (pattern.test(fname) && fname !== '') {
            $("#state_error_message").hide();
            $("#form_state")
        } else {
            $("#state_error_message").html("Should contain only Characters");
            $("#state_error_message").show();
            $("#form_state")
             ;
        }
    }
    function check_city() {
        var pattern = /^[a-zA-Z]*$/;
        var fname = $("#form_city").val();
        if (pattern.test(fname) && fname !== '') {
            $("#city_error_message").hide();
            $("#form_city")
        } else {
            $("#city_error_message").html("Should contain only Characters");
            $("#city_error_message").show();
            $("#form_city")
             ;
        }
    }

    function check_pincode() {
        var pattern = /([0-9]{6})|(\([0-9]{3}\)\s+[0-9]{3}\-[0-9]{4})/;
        var mob = $("#form_pincode").val();

        if (pattern.test(mob) && mob !== '' && mob.length == 6) {
            $("#pincode_error_message").hide();
            $("#form_pincode")
        } else {
            $("#pincode_error_message").html("Invalid Mobile NO");
            $("#pincode_error_message").show();
            $("#form_pincode")
            error_pincode = true;
        
        }
    }


    $("#Add_Address_form").submit(function () {
        
         error_name = false;
error_email = false;
         error_mobno = false;
         error_address = false;
         error_state = false;
         error_city = false;
         error_pincode = false;
        check_name();
        check_mob();
        check_email();
        check_address();
        check_state();
        check_city();
        check_pincode();
        if (error_name === false && error_mobno === false && error_email === false && error_address === false && error_state === false && error_city === false && error_pincode === false) {
            return true;
        } else {
           swal("Oops!", "Please fill the Details!", "error");  
               return false;
        }


    });



</script>

<script src="/javascripts/side-bootstrap.min.js"></script>
<script src="/javascripts/side-jquery.min.js"></script>
<script src="/javascripts/side-main.js"></script>
<script src="/javascripts/side-popper.js"></script>